<div class="flex flex-col align-right" id="page">
    <div class="flex flex-row">
        <span class="spacer"></span>
        <i class="icon-button icon-lg fa-solid fa-pen"
            hx-trigger="click"
            hx-target="#page"
            hx-swap="outerHTML"
            hx-get="hx/groups"></i>
    </div>
    <div class="flex flex-col gap-25 align-center">
        <div class="flex flex-row gap-15 align-center border-1-9 width-650 padding-15">
            <span class="search-prompt">~</span>
            <input class="search-query fs-12" 
                type="search" 
                name="search-query" 
                placeholder="Type to filter"
                hx-post="hx/groups/search"
                hx-trigger="keyup changed delay:{{ settings.search_delay_ms }}ms, search"
                hx-target="#groups">
        </div>
        <div class="flex flex-col gap-25 align-center" id="groups">
            {% for group in groups %}
            <div class="border-1-6 width-650 padding-15 flex flex-col">
                <div class="mb-5" >
                    {% with group=group %}
                        {% include 'group-readonly.html' %}
                    {% endwith %}
                </div>
                <div>
                    {% for mark in group.marks %}
                        {% include 'mark-readonly.html' %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
