<div class="flex flex-col align-right" id="page-view">
    <div class="flex flex-row">
        <span class="spacer"></span>
        <i class="icon-button icon-xl fa-solid fa-xmark"
            hx-trigger="click"
            hx-target="#page-view"
            hx-swap="outerHTML"
            hx-get="hx/groups/readonly"></i>
    </div>
    <span style="height: 50px;"></span>
    <form hx-post="hx/groups" hx-trigger="group_sort" hx-swap="none" id="form-groups"></form>
    <div class="flex flex-col gap-5 align-center">
        <div class="sortable flex flex-col gap-25 align-center"
            _="on end halt the event send group_sort to #form-groups"
            id="groups">
            {% for group in groups %}
                {% with group=group %}
                    {% include 'group-and-marks.html' %}
                {% endwith %}
            {% endfor %}
        </div>
        <div class="show-hover mt-5 padding-10 flex flex-col align-center add-bar"
            hx-trigger="click"
            hx-post="hx/group"
            hx-target="#groups"
            hx-swap="beforeend"
            style="width: 660px;">
            <span class="fs-18">click to add new group</span>
        </div>
    </div>
</div>
