<div id="mark-{{ mark.id }}"
    class="flex flex-row align-center gap-5 show-hover">
    <i class="sort-handle icon-sm fa-solid fa-grip-vertical"></i>
    <input type="hidden" name="ids" value="{{ mark.id }}" form="form-group-{{ mark.group_id }}-marks">
    <span style="margin-left: 2px;"></span>
    <i class="mark-icon {{ mark.icon }}"></i>
    <div>[<span class="mark-name">{{ mark.name }}</span>]</div>
    <div>(<span class="mark-url">{{ mark.display_url }}</span>)</div>
    <i class="icon-button icon-sm fa-solid fa-pencil"
        hx-get="hx/mark/{{ mark.id }}/edit"
        hx-swap="outerHTML"
        hx-target="#mark-{{ mark.id }}"></i>
    <span class="spacer"></span>
    <i class="icon-button icon-sm fa-regular fa-trash-can"
        hx-delete="hx/mark/{{ mark.id }}"
        hx-swap="outerHTML"
        hx-target="#mark-{{ mark.id }}"></i>
    <span style="margin-right: 2px;"></span>
</div>

