:root {
    /* special */ 
    --color-fg: #eacfda;
    --color-bg: #0f0402;


    /* black */ 
    --color-0: #8e6c51;
    --color-8: #b89f8b;

    /* red */ 
    --color-1: #d44e45;
    --color-9: #cc6666;

    /* green */ 
    --color-2: #8d479e;
    --color-10: #ad73bb;

    /* yellow */ 
    --color-3: #fcb685;
    --color-11: #fcd1b3;

    /* blue */ 
    --color-4: #c46692;
    --color-12: #dfa0bd;

    /* magenta */ 
    --color-5: #7b3a66;
    --color-13: #a15488;

    /* cyan */ 
    --color-6: #d98887;
    --color-14: #f3afaf;

    /* white */ 
    --color-7: #3e2d34;
    --color-15: #eacfda;
}

body, input {
    background-color: var(--color-bg);
    color: var(--color-15);
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('/static/RobotoMono-Regular.ttf') format('truetype');
}
:root, input {
    font-family: 'Roboto Mono';
}


.icon-button {
    cursor: pointer;
    color: var(--color-0);
}

.icon-button:hover {
    color: var(--color-8);
}

.icon-xl { font-size: 1.5em; }
.icon-lg { font-size: 1.25em; }
.icon-sm { font-size: 0.875em; }

.fa-yuge { font-size: 5em; }

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: right;
}

.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-25 { gap: 25px; }
.gap-30 { gap: 30px; }

.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-25 { margin-top: 25px; }
.mt-30 { margin-top: 30px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }

.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.ml-25 { margin-left: 25px; }
.ml-30 { margin-left: 30px; }

.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }

.margin-5 { margin: 5px; }
.margin-10 { margin: 10px; }
.margin-15 { margin: 15px; }
.margin-20 { margin: 20px; }
.margin-25 { margin: 25px; }
.margin-30 { margin: 30px; }

.fs-8 { font-size: 8pt; }
.fs-10 { font-size: 10pt; }
.fs-12 { font-size: 12pt; }
.fs-14 { font-size: 14pt; }
.fs-16 { font-size: 16pt; }
.fs-18 { font-size: 18pt; }
.fs-20 { font-size: 20pt; }
.fs-22 { font-size: 22pt; }


.border-1-6 { border: 1px solid var(--color-6); }
.border-1-9 { border: 1px solid var(--color-9); }
.border-1-7 { border: 1px solid var(--color-7); }
.border-1-0 { border: 1px solid var(--color-0); }
.border-1-8 { border: 1px solid var(--color-8); }
.border-1-15 { border: 1px solid var(--color-15); }

.width-650 {
    width: 650px;
}


.search-bar {
    border: 1px solid orange;
    width: 650px;
}

.search-prompt {
    color: var(--color-6);
}

.search-query {
    color: var(--color-14);
    flex-grow: 1;
}

input[type=search].search-query {
    border-bottom: 0;
}

input[type=search].search-query::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type=search].search-query::placeholder {
    color: var(--color-8);
}

input[type=text], input[type=search] {
    border: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-9);
}

input[type=text]:focus, input[type=search]:focus {
    outline: none;
}

.sort-handle {
    cursor: grab;
    cursor: -webkit-grabbing;
}

.fa-pen, .fa-xmark {
    color: var(--color-7);
}

.fa-pen:hover, .fa-xmark:hover {
    color: var(--color-15);
}

.fa-trash-can {
    color: var(--color-1);
}

.fa-trash-can:hover {
    color: var(--color-9);
}

span.spacer {
    flex-grow: 1;
}

.mark-name {
    color: var(--color-11);
    text-decoration: underline;
}

.mark-name.mark-edit {
    text-decoration: none;
}

.mark-name.readonly:hover {
    color: var(--color-6);
}

.mark-name.readonly:focus {
    color: var(--color-9);
    text-decoration: underline;
    outline: none;
}

.mark-url {
    color: var(--color-3);
}

.mark-icon {
    color: var(--color-15);
    width: 20px;
    text-align: center;
}

.mark-edit {
    text-align: center;
    width: 150px;
}

input[type=text].mark-edit::placeholder {
    color: var(--color-14);
}

.ghost {
    opacity: 0.6;
}

.show-hover:hover, .mark-edit:hover {
    background-color: var(--color-7);
}

.add-bar {
    cursor: pointer;
}

.add-bar span {
    color: var(--color-7);
}

.add-bar:hover span {
    color: var(--color-15);
}

