:root {
    /* special */ 
    --color-fg: #eacfda;
    --color-bg: #0f0402;


    /* black */ 
    --color-0: #8e6c51;
    --color-8: #b89f8b;

    /* red */ 
    --color-1: #d44e45;
    --color-9: #cc6666;

    /* green */ 
    --color-2: #8d479e;
    --color-10: #ad73bb;

    /* yellow */ 
    --color-3: #fcb685;
    --color-11: #fcd1b3;

    /* blue */ 
    --color-4: #c46692;
    --color-12: #dfa0bd;

    /* magenta */ 
    --color-5: #7b3a66;
    --color-13: #a15488;

    /* cyan */ 
    --color-6: #d98887;
    --color-14: #f3afaf;

    /* white */ 
    --color-7: #3e2d34;
    --color-15: #eacfda;
}

.sort-handle {
    cursor: grab;
    cursor: -webkit-grabbing;
}

.icon-button {
    cursor: pointer;
    color: var(--color-0);
}

.icon-button:hover {
    color: var(--color-8);
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: right;
}


.gap-5 { gap: 5px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-25 { gap: 25px; }
.gap-30 { gap: 30px; }

.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }

.mr-5 { margin-right: 5px; }
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.mr-25 { margin-right: 25px; }
.mr-30 { margin-right: 30px; }

.padding-5 { padding: 5px; }
.padding-10 { padding: 10px; }
.padding-15 { padding: 15px; }
.padding-20 { padding: 20px; }
.padding-25 { padding: 25px; }
.padding-30 { padding: 30px; }

.fs-8 { font-size: 8pt; }
.fs-10 { font-size: 10pt; }
.fs-12 { font-size: 12pt; }
.fs-14 { font-size: 14pt; }
.fs-16 { font-size: 16pt; }
.fs-18 { font-size: 18pt; }
.fs-20 { font-size: 20pt; }
.fs-22 { font-size: 22pt; }

.fa-yuge {
    font-size: 5em;
}

.icon-xl { font-size: 1.5em; }
.icon-lg { font-size: 1.25em; }
.icon-sm { font-size: 0.875em; }


.border-1-6 { border: 1px solid var(--color-6); }
.border-1-9 { border: 1px solid var(--color-9); }

.width-650 {
    width: 650px;
}


.search-bar {
    border: 1px solid orange;
    width: 650px;
}

.search-prompt {
    color: var(--color-6);
}

.search-query {
    color: var(--color-14);
    flex-grow: 1;
}

input[type=text].search-query {
    border-bottom: 0;
}

input[type=text].search-query::placeholder {
    color: var(--color-8);
}

body, input {
    background-color: var(--color-bg);
    color: var(--color-15);
}

span, input, a {
    font-family: 'Courier New';
}

input[type=text] {
    border: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-9);
}

input[type=text]:focus {
    outline: none;
}

.fa-gear, .fa-xmark {
    color: var(--color-7);
}

.fa-gear:hover, .fa-xmark:hover {
    color: var(--color-15);
}

.fa-trash-can {
    color: var(--color-1);
}

.fa-trash-can:hover {
    color: var(--color-9);
}

.fa-plus {
    color: var(--color-7);
}

.fa-plus:hover {
    color: var(--color-15);
}

span.spacer {
    flex-grow: 1;
}

.mark-name {
    color: var(--color-11);
    text-decoration: underline;
}

.mark-name.readonly:hover {
    color: var(--color-6);
}

.mark-url {
    color: var(--color-3);
}

.mark-icon {
    color: var(--color-15);
    width: 20px;
    text-align: center;
}


